.git
.gitignore
.github
.gitlab-ci.yml
.dockerignore

.venv
__pycache__
**/__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov

.idea
.vscode

notebooks
docs
tests
src
scripts

README.md
Makefile
pyproject.toml
uv.lock
.env
.env.*
